body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    text-align: center; /* Centraliza o texto */
  }
  
  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px; /* Ajusta o raio da borda para acomodar a borda */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
  }
  
  .slide-text {
    position: absolute;
    left: 10px; /* Define a posição do texto à esquerda */
    bottom: 10px; /* Define a posição do texto na parte inferior */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
  }
  